# Rails config
RAILS_ENV=development
RAILS_MAX_THREADS=5
PORT=5147

# Database
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5149
DATABASE_USER=postgres
DATABASE_PASSWORD=123456

# Mail
SMTP_HOST=smtp.maileroo.com
SMTP_PORT=587
SMTP_USER=naoresponda@mail.elegancysync.cloud
SMTP_PASSWORD=
SMTP_FROM="Nao Responda <naoresponda@mail.elegancysync.cloud>"

# Cable
REDIS_URL="redis://localhost:6379/1"